@using CashPoint.Enums
@model List<BanknoteEnum>;

@{
    ViewData["Title"] = "Error";
}

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item)
        </td>
    </tr>
}
<div>
    <a href='javascript:history.go(-1)'>Return</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
