@model string

@{
    ViewData["Title"] = "Error";
}

<h1>@Model</h1>
<div>
    <a href='javascript:history.go(-1)'>Return</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
